---
layout: default
titleAfter: Software Developer, App developer, Data analyst,Web and Mobile app UI designer
meta: Discover me through portfolio
---
	
	<!--Main layout-->
	<div class="container">
	
		<!--First row-->
		<div class="row">
			
				<div class="jumbotron">
					<div class="container-fluid">
					<div class="col-md-4">
							<img class="img-thumbnail img-responsive center-block img-fluid" src="{{site.baseurl}}/img/jumbotron/thumb_1.png"></img>
					</div>
					
					<div class="col-md-8">
						<h2 class="h2-responsive">Joseph Kamau</h2>
						<h4>Fullstack Web/Mobile developer | Data analyst | Cyber security enthusiast</h4>
						<br />
						<div class="social-icons">
							<span><a href="https://facebook.com/" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" alt="Facebook" /></a></span>
							<span><a href="https://google.com" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-google.png" alt="G++" /></a></span>
							<span><a href="https://twitter.com" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" alt="Twitter" /></a></span>
							<span><a href="https://linkedin.com" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-linkedin.png" alt="LinkedIn" /></a></span>
							<span></span>
							<span><a href="{{site.baseurl}}/portfolio.html" class="btn btn-success waves-effect waves-light">Hire me</a></span>
							<span><a href="https://buymeacoffe.com/dataphile" class="btn brown waves-effect waves-light" target="_blank">Buy me coffee</a></span>
						</div>
						<br />
						<blockquote><p><q>Welcome! I am excited you have visited my portfolio. Navigate through the pages to get acquainted on my skills. </q></p></blockquote>
						<hr>
						
						<div>
						{% for post in site.posts limit: 8 %}
							{% for tag in post.tags %}
							<span><a href="{{site.baseurl}}/{{post.category}}/?q={{tag}}" class="btn btn-primary btn-selected waves-effect waves-light">{{ tag }}</a></span>
							{% endfor %}
						{% endfor %}
						</div>
					</div>
					</div>
				</div>
			
		</div>
		<!--/.First row-->
		
		<hr class="extra-margins" style="width: 80%; color: #86C67C;" />
		
		{% include memories.html %}
		
		
	</div>
