---
layout: default
meta: Discover me through portfolio
---

<div class="container">
	<div class="content">
		{% include header.html %}
		<h4><blockquote>A God fearing optimist with 26 years of life experience</blockquote></h4>
	</div>
	<div class="row">
		
		<!-- first column -->
		<div class="col-md-9">
			<div>
				<span><a href="#"><img src="{{site.baseurl}}/img/icons/icon-acrobat-reader.png" alt="pdf" width="30" height="30"/><span>Download Resume</span></a>
				</span>
				<span><a href="#"><img src="{{site.baseurl}}/img/icons/vcard.png" alt="pdf" width="30" height="30"/><span>Save vCard</span></a>
				</span>
			</div>
			<div class="container">
				
				<div class="card">
					<div class="card-block">
						<!--Credentials -->
						<div class="row">
							<div class="col-md-6" >
								<div class="center-block text-center" style="text-align: center; border-right: 2px solid #fff000">
									<img class="img-responsive img-circle center-block" src="{{site.baseurl}}/img/jumbotron/passport.png" alt="{{ site.data.resume-credentials[0].content }}" width="85" height="85"/>
									<h5>{{ site.data.resume-credentials[0].content }}</h5>
									<p><i class="fa fa-phone"></i> {{  site.data.resume-credentials[1].content }}</p>
									<p><i class="fa fa-envelope"></i> {{ site.data.resume-credentials[2].content }}</p>
								</div>
							</div>
							<div class="col-md-6" style="text-align:left;">
								<p><i class="fa fa-map-marker"></i> {{ site.data.resume-credentials[3].content }}</p>
								<p><i class="fa fa-map-marker"></i> {{ site.data.resume-credentials[4].content }}</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="card-block">
						<!--Experience -->
						<h4 class="card-title"> Experience</h4>
						<dl>
							{% for o in site.data.resume-experience %}
								<dd><strong>Position: </strong>{{ o.label }}</dd>
								<dd><strong>Company: </strong>{{ o.company }} ({{ o.begin }} - {{ o.end }})</dd>
								<dd><strong>Responsibilities: </strong>{{ o.responsibilities }}</dd>
						</dl>
						<hr />
						{% endfor %}
					</div>
				</div>
				
				<div class="card">
					<div class="card-block">
						<!--Education -->
						<h4 class="card-title"> Certification </h4>
						<dl>
							{% for o in site.data.resume-education %}
								<dt>{{ o.label }}</dt>
								<dd>{{ o.certificate }}</dd>
						</dl>
						<p>{{ o.institution }}  ({{ o.begin }} - {{ o.end }})</p>
							{% endfor %}	
					</div>
				</div>
				
				<div class="card">
					<div class="card-block">
						<!--Technology -->
						<h4 class="card-title"> Skills Summary</h4>
						<dl>
							{% for o in site.data.resume-technology-summary %}
								<dt><strong>Technology: </strong>{{ o.label }}</dt>
								<dd><strong>Language: </strong> {{ o.languages }}</dd>
						</dl>
						<p><strong>Libraries/Framework: </strong>{{ o.skill-set }}</p>
						<p><strong>Environment: </strong>{{ o.environment }}</p>
						<hr />
							{% endfor %}
					</div>
				</div>
				
				<div class="card">
					<div class="card-block">
						<!--Interests -->
						<h4 class="card-title"> Interests</h4>
						<dl>
							{% for o in site.data.resume-interests %}
								<dt>{{ o.label }}</dt>
								<dd>{{ o.content }}</dd>
						</dl>
						<p>{{ o.skill-level }}</p>
							{% endfor %}
					</div>
				</div>
			</div>
			
		</div>
		
		<!-- second column -->
		<div class="col-md-3">
			<!--Card-->
			<div class="card">
				<div class="card-block">
					<!--Objectives -->
					<h4 class="card-title"> Objective</h4>
					<dl>
						{% for o in site.data.resume-objective %}
							<dd>{{ o.content }}</dd>
						{% endfor %}
					</dl>
				</div>
			</div>
			
			<!--Card-->
			<div class="card">
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Table of Contents</h4>
					<ul>
						<li><a href="#/credentials" >Contact</a></li>
						<li><a href="#/experience" >Experience</a></li>
						<li><a href="#/education" >Certifications</a></li>
						<li><a href="#/technology" >Skills</a></li>
						<li><a href="#/interests" >Interests</a></li>
						<li><a href="#/referees" >Referees</a></li>
					</ul>
				</div>
				<!--/.Card content-->

			</div>
		</div>
	</div>
</div>
