---
layout: default
---

<!--Main layout-->
<div class="container">
	<div class="row">
		<!-- first column -->
		<div class="col-md-9">
			<!--Card-->
			<div class="card">
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Resume</h4>
					
					<div class="container">
						<div>
							<!--Credentials -->
							<h4> Credentials</h4>
							<dl>
								{% for o in site.data.resume-credentials %}
									<dt>{{ o.label }}</dt>
									<dd>{{ o.content }}</dd>
								{% endfor %}
							</dl>
						</div>
						
						<div>
							<!--Objectives -->
							<h4> Objectives</h4>
							<dl>
								{% for o in site.data.resume-objective %}
									<dt>{{ o.label }}</dt>
									<dd>{{ o.content }}</dd>
								{% endfor %}
							</dl>
						</div>
						
						<div>
							<!--Education -->
							<h4> Education</h4>
							<dl>
								{% for o in site.data.resume-education %}
									<dt>{{ o.label }}</dt>
									<dd>{{ o.institution }}</dd>
							</dl>
							<p>{{ o.certificate }}</p>
							<p>{{ o.begin }}</p>
							<p>{{ o.end }}</p>
								{% endfor %}	
						</div>
						
						<div>
							<!--Experience -->
							<h4> Experience</h4>
							<dl>
								{% for o in site.data.resume-experience %}
									<dt>{{ o.label }}</dt>
									<dd>{{ o.company }}</dd>
							</dl>
							<p>{{ o.responsibilities }}</p>
							<p>{{ o.begin }}</p>
							<p>{{ o.end }}</p>
								{% endfor %}
						</div>
						
						<div>
							<!--Technology -->
							<h4> Technology Summary</h4>
							<dl>
								{% for o in site.data.resume-technology-summary %}
									<dt>{{ o.label }}</dt>
									<dd>{{ o.languages }}</dd>
							</dl>
							<p>{{ o.skill-set }}</p>
							<p>{{ o.environment }}</p>
								{% endfor %}
						</div>
						
						<div>
							<!--Interests -->
							<h4> Interests</h4>
							<dl>
								{% for o in site.data.resume-interests %}
									<dt>{{ o.label }}</dt>
									<dd>{{ o.content }}</dd>
							</dl>
							<p>{{ o.skill-level }}</p>
								{% endfor %}
						</div>
						
						<div>
							<!--Referees -->
							<h4> Referees</h4>
							<dl>
								{% for o in site.data.resume-refs %}
									<dt>{{ o.name }}</dt>
									<dd>{{ o.occupation }}</dd>
							</dl>
							<p>{{ o.address }}</p>
								{% endfor %}
						</div>
					</div>
				</div>
				<!--/.Card content-->
			</div>
		</div>
		
		<!-- second column -->
		<div class="col-md-3">
			<!--Card-->
			<div class="card">
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title">Table of Contents</h4>
					<ul>
						<li><a href="" >Credentials</a></li>
						<li><a href="" >objectives</a></li>
						<li><a href="" >Education</a></li>
						<li><a href="" >Experience</a></li>
						<li><a href="" >Technology</a></li>
						<li><a href="" >Interests</a></li>
						<li><a href="" >Referees</a></li>
					</ul>
				</div>
				<!--/.Card content-->

			</div>
		</div>
	</div>
</div>
