<div id="header">
    <div class="row">
		<span class="col-md-9"><h4>Dataphile is the online portfolio of <a href="{{site.baseurl}}portfolio.html">Joseph Kamau</a> - a computer scientist who specializes in data analysis, software development and machine learning. I'm currently based in Nairobi, Kenya.</h4>
		</span>
		<ul class="pull-right list-inline col-md-3" >
			<li class="list-inline-item"><a href="mailto:bitjosef@hotmail.com"><img src="{{site.baseurl}}/img/icons/icon-email.png" height="30" width="30"/></a></li>
			<li class="facebook list-inline-item"><a href="http://www.facebook.com/dataphile" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-facebook.png" height="30" width="30" /></a></li>
			<li class="twitter list-inline-item"><a href="http://www.twitter.com/pinkissme" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-twitter.png" height="30" width="30" /></a></li>
			<li class="github list-inline-item"><a href="http://www.github.com/pistolla" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-github.png" height="30" width="30" /></a></li>
			<li class="linkedIn list-inline-item"><a href="http://www.linkedIn.com/dataphile-joe/" target="_blank"><img src="{{site.baseurl}}/img/icons/icon-linkedin.png" height="30" width="30" /></a></li>
		</ul>
	  
    </div>
	<hr />
</div>