<ul class="nav navbar-nav">
	<li class="nav-item {% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/" class="navbar-brand waves-effect waves-light ">Home</a></li>
	<li class="nav-item {% if page.url == '/resume.html' %}active{% endif %}"><a href="{{site.baseurl}}/resume.html" class="navbar-brand waves-effect waves-light">Resume</a></li>
	<li class="nav-item {% if page.url == '/portfolio.html' %}active{% endif %}"><a href="{{site.baseurl}}/portfolio.html" class="navbar-brand waves-effect waves-light">Portfolio</a></li>
	<li class="nav-item {% if page.url == '/programmer.html' %}active{% endif %}"><a href="{{site.baseurl}}/programmer.html" class="navbar-brand waves-effect waves-light">Programmer</a></li>
	<li class="nav-item {% if page.url == '/contact.html' %}active{% endif %}"><a href="{{site.baseurl}}/contact.html" class="navbar-brand waves-effect waves-light">Contact</a></li>
	<li class="nav-item {% if page.url contains 'projects' or page.url contains 'books' %}active{% endif %}"><a href="{{site.baseurl}}/projects.html" class="navbar-brand waves-effect waves-light">Blog</a></li>
</ul> 