<ul class="nav navbar-nav pull-right">
	<li class="nav-item {% if page.url == '/' or page.url contains 'projects' or page.url contains 'books' %}active{% endif %}"><a href="{{site.baseurl}}/" class="navbar-brand waves-effect waves-light ">Home</a></li>
	<li class="nav-item {% if page.url == '/portfolio.html' %}active{% endif %}"><a href="{{site.baseurl}}/portfolio.html" class="navbar-brand waves-effect waves-light">Portfolio</a></li>
	
	<li class="nav-item {% if page.url == '/about.html' %}active{% endif %}"><a href="{{site.baseurl}}/about.html" class="navbar-brand waves-effect waves-light">About</a></li>
</ul> 