<ul>
	<li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
	<li><a href="{{site.baseurl}}/resume.html" class="{% if page.url == '/resume.html' %}current{% endif %}">Resume</a></li>
	<li><a href="{{site.baseurl}}/portfolio.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Portfolio</a></li>
	<li><a href="{{site.baseurl}}/education.html" class="{% if page.url == '/education.html' %}current{% endif %}">Education</a></li>
	<li><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></li>
	<li><a href="{{site.baseurl}}/projects.html" class="{% if page.url contains 'projects' or page.url contains 'books' %}current{% endif %}">Posts</a></li>
</ul> 