---
title: Default
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<title>Joseph Kamau</title>
	
	<meta name="description" content="{{page.meta}}">
	<meta property="og:site_name" content="Dataphile Joe"/>
	<meta property="og:title" content="{{ page.title | strip_html }}"/>
	{% if (page.description) %}<meta property="og:description" content="{{ page.description | meta_tag }}"/>{% endif %}
	{% if (page.images) %}<meta property="og:image" content="{{site.baseurl}}{{ page.images[0]['thumbnail'] }}"/>{% endif %}

	<meta property="twitter:card" content="summary" />
	<meta property="twitter:creator" content="@pinkissme" />
	<meta property="twitter:url" content="{{ page.url | absolute_path }}" />
	<meta property="twitter:title" content="{{ page.title | strip_html }}" />
	{% if (page.description) %}
	<meta property="twitter:description" content="{{ page.description | meta_tag }}" />
	{% endif %}
	{% if (page.images) %}
	<meta property="twitter:image" content="{{site.baseurl}}{{ page.images[0]['thumbnail'] }}" />
	{% endif %}
	
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{{site.baseurl}}/css/mdb.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	
	<!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        
        main {
            padding-bottom: 2rem;
        }
        
        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }
        
        
    </style>
	
</head>
<body>

	<header>
		<!--Navbar-->
        <nav class="navbar navbar-dark primary-color-dark navbar-fixed-top">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
                <i class="fa fa-bars"></i>
            </button>

            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs navbar-right" id="collapseEx">
					<a  href="{{site.baseurl}}/"><img class="navbar-brand waves-effect waves-light" alt="Dataphile" src="{{site.baseurl}}/img/masthead/dlogo.png" height="43" width="150" ></a></img>
					{% include nav.html navclass="nav-top" %}
				</div>
                <!--/.Collapse content-->

            </div>

        </nav>
        <!--/.Navbar-->
	
	</header>
	<!--wrapper -->
	<main id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper" class="blue">
			{% include sidenav.html %}
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				{{content}}
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</main>
	<!-- /#wrapper -->
	
	
	<!--Footer-->
	<footer class="page-footer blue center-on-small-only">
		<!--Footer Links-->
		<div class="container-fluid">
			<div class="row">
				<!--First column-->
				<div class="col-md-4">
					<h5 class="title">Footer Content</h5>
					<p>Good reputation is better than a good name.</p>
				</div>
				<!--/.First column-->
				<!--Second column-->
				<div class="col-md-4">
					<h5 class="title social-section">Links</h5>
					{% include nav.html navclass="nav-bottom" %}
				</div>
				<!--/.Second column-->
				<!--Third column-->
				<div class="col-md-4">
					<h5 class="title">Address</h5>
					{% include contact.html navclass="nav-bottom" %}
				</div>
				<!--/.Third column-->
			</div>
		</div>
		<!--/.Footer Links-->
		<!--Copyright-->
		<div class="footer-copyright">
			<div class="container-fluid">
				© 2016 Copyright: <a href="{{site.baseurl}}/">Joseph Kamau</a>
			</div>
		</div>
		<!--/.Copyright-->
	</footer>

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{{site.baseurl}}/js/jquery.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{site.baseurl}}/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{site.baseurl}}/js/mdb.min.js"></script>
	
	<!-- Menu Toggle Script -->
	<script>
		(function($){
			$("#wrapper").addClass("toggled");
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
		})(jQuery);
	</script>
</body>
</html